html,body, .capa{
	height: 100%;
}

body{
	background: url('imagens/capa.png'), 
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed; /*imagem logo parada ao rolar barra de navegação*/
	font-family: Helvetica,Arial,sans-serif;
	/*
	overflow-y: hidden; /*REMOVER BARRA VERTICAL DE ROLAGEM 
	overflow-x: hidden; /*REMOVER BARRA HORIZONTAL DE ROLAGEM 
	*/
}
/**/
/*Barra de navegação*/
.img-logo{
	height: 40px;
	width: 132px;
	display:block;
	background: url('imagens/spotify.svg') no-repeat;	
	background-size: contain;
	color: transparent;
}


nav.navbar-transparente{
	padding: 15px 0px; /*superior: 15px, lateral direita: 0px*/
	background: rgba(0,0,0,0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;/*superior: 5px, lateral direita: 15px*/
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}

/*Capa Principal*/

.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/*Botões*/
.btn-custom{
	color: white;
	border-radius: 500px;
	
	/*funcionar em outros browsers*/
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	/**/
	
	padding: 10px 35px; /*superior: 10px, lateral direita: 35px */
	margin: 0px 15px;
	text-transform: uppercase; /*colocar letra MAIUSCULA*/
	transition: background 0.4s, color 0.4s; /*tempo de transicao de cores*/
}

.btn-roxo{
	background:#7c25f8;
}
.btn-roxo:hover{
	background-color:#6207e3; /*fundo azul escuro */
	color: white; /*letras permanecem brancas */
}

.btn-branco{
	border: 2px solid white;
}

.btn-branco:hover{
	background-color: white;
	color: black;
}

/*Formatação Textos*/

h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;/* letras mais proximas */
	margin-bottom: 50px;
}

h2{ /*generico para usar depois */
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{ /*generico para usar depois */
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
	
}

.texto-roxo{
	color:#7c25f8;
}

/*Sessão Serviço*/

#servicos{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns{ /*Espaçamento entre as fotos*/
	padding: 10px 0px 10px 0px; /*superior: 10px, lateral direita: 0px, inferior: 10px e lateral esquerda: 0px; */
}

#servicos h2, #servicos h3{ /*para não precisar duplicar class="texto-roxo" em cada h2, h3 */
	color: #7c25f8;
}

/*Sessão Recursos*/

#recursos{
	padding-top: 10px;
	padding-bottom: 20px;
	color: white;
}
#recursos h3{ /*formatar grupo de elementos (EX: h3{)*/
	color: #9bf0e1;
}

/*Rotacionar imagem Iphones

.rotacionar{
	-ms-tranform: rotate(30deg); Internet Explorer 9
	-webkit-transform: rotate(30deg); Chrome
	transform: rotate(30deg);
}
*/

/*Rodapé*/

footer{
	background: #000; /*cor preta*/
	padding: 50px 0px 20px/*superior: 50px, lateral direita: 0px, inferior: 20px e lateral esquerda: 0px; */
}